@model SignUpViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<main class="flex-shrink-0">
    <!-- Header-->
    <header class="py-5">
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h5 class="display-12 fw-bolder mb-0"><span class="text-gradient d-inline"><a href="index.html">Beni Tanıyor Musun?</a></span></h5>
                    <h1 class="display-5 fw-bolder mb-0 mt-3"><span class="text-gradient d-inline">Üye Ol</span></h1>
                </div>

                  <form method="post" asp-action="SignUp">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">

                                <div class="p-5">

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">E-Posta Adresi</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" type="email" asp-for="@Model.Email" placeholder="name@example.com">
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Ad</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Barış" type="text" asp-for="@Model.Name">
                                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Soyad</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Gün" type="text" asp-for="@Model.Surname">
                                            <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                                    </div>

                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Kullanıcı Adı</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Username" type="text" asp-for="@Model.UserName">
                                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                        </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Şifre</label>
                                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*********"
                                                   type="password" asp-for="@Model.Password">
                                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Şifre (Tekrar)</label>
                                        <br>
                                        <small class="text-body-tertiary">
                                            Şifreniz en az 8 karakter olmalı ve büyük harf, küçük harf ve
                                            rakam içermelidir
                                        </small>
                                        <br>
                                        <br>
                                            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*********" type="password" asp-for="@Model.ConfirmPassword">
                                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                        @if (!string.IsNullOrEmpty(ViewData.ModelState["signupError"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                                        {
                                            <span class="error" style="color:red;font-family:Arial;">@Html.Raw(ViewData.ModelState["signupError"].Errors.FirstOrDefault().ErrorMessage)</span>
                                        }

                                        @if (!string.IsNullOrEmpty(ViewData.ModelState["recaptcha"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                                        {
                                            <span class="error" style="color:red;font-family:Arial;">@Html.Raw(ViewData.ModelState["recaptcha"].Errors.FirstOrDefault().ErrorMessage)</span>
                                        }
                                        <br />
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="g-recaptcha" data-sitekey="6LcvSUcoAAAAAIpxEfjIaeiNqy-gxAOdX4jhB_ze"></div>
                                                </div>
                                            </div>
                                        </div>            
                                   
                                    <div class="d-grid col-6 mx-auto mt-5">
                                        <button class="btn btn-primary" type="submit">Üye Ol</button>
                                            <br />
                                            <br />
                                            <a href="Account/SignIn" class="btn btn-primary">Giriş Yap</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                 </form>
        </section>
</main>

<script src="https://www.google.com/recaptcha/api.js"></script>
